  
 .pagination {
  display: flex;
  width: 100%;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Светлая тема */
.pagination.light {
  background-color: #f9f9f9;
}

.pagination.light .pageNumber,
.pagination.light .arrow {
  background-color: white;
  color: black;
  border: 1px solid #ddd;
}

.pagination.light .pageNumber:hover,
.pagination.light .arrow:hover {
  background-color: #007bff;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
  transform: translateY(-2px);
}

/* Темная тема */
.pagination.dark {
  background-color: #23272f;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.pagination.dark .pageNumber,
.pagination.dark .arrow {
  background-color: #23272f;
  color: #f6f7f9;
  border: 1px solid #3a3f4b;
}

.pagination.dark .pageNumber:hover,
.pagination.dark .arrow:hover {
  background-color: #0056b3;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
  transform: translateY(-2px);
}

/* Общие стили */
.pageNumber,
.arrow {
  font-size: 14px;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pageNumber:disabled,
.arrow:disabled {
  border-color: #444;
  background-color: #2b2f36;
  color: #777;
  cursor: default;
  box-shadow: none;
}

.pageNumber:disabled:hover,
.arrow:disabled:hover {
  transform: none;
  box-shadow: none;
}

/* Активная страница */
.pageNumber.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
