.pagination {
  display: flex;
  width: 100%; /* Исправлено */
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.pageNumber,
.arrow {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pageNumber:hover,
.arrow:hover {
  background-color: #007bff;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
  transform: translateY(-2px);
}

.pageNumber:disabled,
.arrow:disabled {
  border-color: #ddd;
  background-color: #f0f0f0;
  color: #aaa;
  cursor: default;
  box-shadow: none;
}

.pageNumber:disabled:hover,
.arrow:disabled:hover {
  transform: none;
  box-shadow: none;
}

.pageNumber.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}